Source: stockmanagement
Section: web
Priority: standard
Maintainer: ITSMng SysAdmin <sysadmin@itsm-ng.com>
Build-Depends:	debhelper (>= 9)
Rules-Requires-Root: no
Homepage: https://github.com/itsmng/stockmanagement

Package: itsm-ng-plugin-stockmanagement
Architecture: all
Depends: itsm-ng (>= 1:2.0),
Description: This plugin allows you to configure an alert threshold for a type of material or for a manufacturer/model depending on a status.
